* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__content {
    width: 100%;
    height: 4rem;
    padding: 0 12px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:dodgerblue;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    border-bottom: 1px solid lightgray;
}

.header__name {
    font-size: 1.25rem;
    color: aliceblue;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    list-style: none;
    display: flex;
    height: auto;
    gap: 10px;
}

.nav__item > a { 
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
}

.nav__item > a:hover {
    color:#3A1078;
}

.site__content {
    margin-top: 30px;
}

.overall__section {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.img__article {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}

.img__article > img {
    object-fit: contain;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 1.2rem;
    width: 100%;
    height: 100%;
}

.contact-items {
    margin-top: 12px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-link {
    margin-right: 6px;
}

.contact-link > img {
    height: 30px;
}

.overall__info {
    flex: 1;
    min-width: 300px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    text-overflow: ellipsis;
    text-align: center;
}

.overall__info > h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 2.25rem;
    letter-spacing: 1px;
}

.span__info {
    color: #AA77FF;
    border-bottom: 1px solid lightgray;
}

.info__content {
    margin-top: 12px;
    font-weight: 400;
}

.info__item {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.info__item__custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__item > span, .info__item__custom > span {
    color: gray;
}

.info__item > h4 {
    font-weight: 400;
}

/* Interests section */

.interests__sec {
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 30px;
}

.it-interests {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.it-interests > h3 {
    font-family: 'Sano', sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.interest-item-container {
    width: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 1fr; /* equal height of each item */
    grid-column-gap: 30px;
    /* align-items: center; */
    /* gap: 2rem; */
    /* justify-content: center; */
}

.interest-item {
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
    /* width: 25%; */
    max-width: 330px;
    grid-row: 1 / 2;
    min-width: 170px;
    /* height: 100%; */
    /* height: fit-content; */
}

.interest-item-header {
    margin-bottom: 4px;
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
}

.interest-item-header > img {
    height: 30px;
    width: 30px;
}

.interest-item-header > h4 {
    font-size: 1.2rem;
    color: cornflowerblue;
}

/* Other interests */

.other-interests {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 10px;
}

.other-interests-content {
    flex: 0.65;
    background-color: dodgerblue;
    padding: 1.2rem 1.5rem;
    min-width: 400px;
    max-width: 650px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other-interests-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.7rem;
    border-radius: 8px;
    gap: 8px;
}

.other-interests-item > img {
    height: 30px;
    margin-right: 4px;
}

.other-header {
    flex: 0.35;
    min-width: 250px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other-header > h3  {
    font-size: 2.15rem;
    letter-spacing: 1px;
}

.other-header > p {
    word-break: break-all;
    font-size: 1.1rem;
}

.other-interests-span {
    color: dodgerblue;
    font-weight: 600;
}

.burger__btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.3s;
}

.burger__item {
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
    margin-bottom: 4px;
}


@media(max-width: 600px) {
    .head {
        width: 100%;
        height: 100%;
    }
    .burger__btn {
        display: block;
    }

    .head:has(.burger__btn:focus) ~ .nav__links {
        height: 10rem;
    }

    .nav__links {
        background-color: dodgerblue;
        display: block;
        height: 0;
        overflow: hidden;
        list-style: none;
    }
    .nav__item > a {
        display: block;
        height: auto;
        font-size: 1.3rem;
        letter-spacing: 0.25rem;
        padding: 0.5rem 1rem;
        color: white;
        transition: all ease-in-out 0.5s;
    }
    .nav__item > a:hover {
        padding-left: 1.5rem;
        background-color: blueviolet;
        color: white;
    }
}

@media(min-width: 601px) {
    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width: 720px) {
    .overall__section {
        flex-direction: column;
        padding: 20px 25px;
    }

    .img__article {
        width: 100%;
        min-width: 0;
    }

    .overall__info {
        width: 100%;
        min-width: 0;
        line-height: 1.35;
    }
}


@media(max-width: 800px) {
    .interest-item-container {
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
        /* display: flex; */
        /* flex-direction: column; */
        /* gap: 20px; */
    }
    .interest-item {
        max-width: 400px;
        grid-row: 1 / span 1;
        grid-column: 1 / 2;
    }

    #full_stack {
        grid-row: 2 / 3;
    }

    #machine_learning {
        grid-row: 3 / 4;
    }

    .other-interests-content {
        width: 100%;
        min-width: 0;
    }

    .other-header {
        width: 100%;
        min-width: 0;
    }

}

/* Projects section */

.projects__section {
    margin-top: 4.5rem;
    padding: 0 1.2rem;
    margin-bottom: 3.5rem;
}

.projects__section > h3 {
    font-size: 1.75rem;
    text-align: center;
    letter-spacing: 2px;
    color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.project-item {
    width: 100%;
    height: auto;
    max-width: 990px;
    display: flex;
    gap: 25px;
    justify-content: center;    
}

.project-img, .project-img-checkers {
    flex: 0.55;
    position: relative;
}

.project-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-img-checkers > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.background-img, .background-img-gmail {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;   
    background-color: #F6F1F1;
}

.background-img {
    left: -20px;
    top: 20px;
}

.background-img-gmail {
    right: -20px;
    top: 20px;
}

.project-overview {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.project-name {
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 1.45;
}

.project-overview > h5 {
    flex: 0.2;
    font-size: 1.35rem;
    font-weight: 400;
}

.project-overview > p {
    flex: 0.4;
    font-size: 1.2rem;
}

.project-sec {
    font-size: 1.25rem;
    font-weight: 600;
    color: lightslategray;
}

.project-functionalities {
    margin-bottom: 20px;
}

/* Code snippets */

.code-snippets {
    margin-top: 60px;
    padding: 10px 30px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    text-align: center;
}

.code-snippets > h2 {
    font-size: 1.75rem;
    letter-spacing: 2px;
    color: darkgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
}

.code-item {
    background: #f4f4f4;
    border: 1px solid darkgray;
    border-left: 3px solid dodgerblue;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 1100px;
    display: block;
    overflow: auto; 
    padding: 1rem 1.3rem;
    word-wrap: break-word;
}

.code-item > h3 {
    font-size: 1.65rem;
    line-height: 1.1;
}

/* Footer section */

.footer__section {
    overflow: hidden;
    margin-top: 5rem;
    background-color: black;
    color: whitesmoke;
    width: 100%;
}

footer {
    padding: 20px 30px;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    margin-top: 12px;
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-link {
    text-decoration: none;
}

.footer-link > img {
    height: 28px;
    width: 28px;
}

.uni {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me {
    display: flex;
    width: 150px;
    justify-content: space-between;
    height: 50px;
}


@media(max-width: 900px) {
    .other-interests {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .other-header {
        flex: 1;
        align-items: center;
    }
    .project-item {
        flex-direction: column-reverse;
        align-items: center;    
        gap: 25px;
    }

    .project-img, .project-img-checkers {
        display: flex;
        justify-content: center;
    }

    .project-img > img {
        width: 95%;
    }
    .background-img {
        left: 0;
        top: 20px;
    }
    
    .background-img-gmail {
        right: 0;
        top: 20px;
    }
}

